__pycache__/analyzer_factory.cpython-313.pyc
__pycache__/code_analyzer.cpython-313.pyc
__pycache__/generic_cnpj_analyzer.cpython-313.pyc
__pycache__/java_cnpj_analyzer.cpython-313.pyc
__pycache__/java_cnpj_analyzer.cpython-313.pyc
